# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Virtual Environments
.venv/
env/
venv/
ENV/

# Configuration and Secrets
.env
.env.*
!.env.example

# Local Data and Exports
data/
data_export/

# OS Specific
.DS_Store
Thumbs.db

# Model weights
weights/